Assignment2 - Basic Flask App/__pycache__/
Assignment3 - Basic Flask App with Authentication/__pycache__/
Assignment4a-MNIST Training/__pycache__/
Assignment4b-Parametrized MNIST Training/__pycache__/
Assignment4a-MNIST Training/data/
Assignment4b-Parametrized MNIST Training/data/


